nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: black;
}
h1{
  
  display: contents;

}

.link{
  
  color: white;
  margin: 1vw;
  border: 1px solid black;
  padding: .5vw;

}
img{

  max-height: 9vh;
  max-width: 9vw;

}