.homeContainer{
    .homeButtons{
        text-align: center;
        button{
            margin: 1vw;
        }
    }
    .homeContent{
        display: grid;
        grid-template-columns: 50% 50%;
        .map{
            grid-column: 1/3;
        }
    }
    .pieChart{
       justify-self: center;
        canvas{
            height: 100% !important;
            width: 90% !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .homeContainer{
        .homeContent{
            display: grid;
            grid-template-columns: 100%;     
        }
    }
 }